@page "/Arquivo"
@inject IArquivoService arquivoService
<h3>Arquivo</h3>
<a href="NovoArquivo" class="btn btn-info">Novo Arquivo</a>
@if (arquivoOutputView is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TabelaArquivo ArquivoOutputView="arquivoOutputView" />

    <PaginacaoTabela PaginaAtual="ReceberPagina"
                     TotalDados="arquivoOutputView.TotalDados"
                     Pagina="arquivoOutputView.Pagina"
                     TotalPagina="arquivoOutputView.TotalPagina" />
}

@code {
    private ArquivoOutputView? arquivoOutputView;

    protected override async Task OnInitializedAsync()
    {
        arquivoOutputView = await arquivoService.PegarTodos();
        await base.OnInitializedAsync();
    }

    private async Task ReceberPagina(int paginaAtual)
    {
        arquivoOutputView = await arquivoService.PegarTodos(paginaAtual);
    }
}
