@page "/Arquivo"
<h3>Arquivo</h3>
<a href="NovoArquivo" class="btn btn-info">Novo Arquivo</a>
@if (arquivoOutputDtos is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TabelaArquivo ArquivoOutputDtos="arquivoOutputDtos"></TabelaArquivo>
}

@code {
    private List<ArquivoOutputDto> arquivoOutputDtos = new();
    protected override Task OnInitializedAsync()
    {
        arquivoOutputDtos = new()
        {
            new ArquivoOutputDto{
                Id = 1
            },
            new ArquivoOutputDto{
                Id = 2
            }
        };
        return base.OnInitializedAsync();
    }
}
