@page "/ControleCaixa"
<h3>Controle de Caixa</h3>
<a href="NovoControleCaixa" class="btn btn-info">Novo Controle</a>

@if (controleCaixaOutputDtos is null)
{
    <p><em>Carregando</em></p>
}
else
{
    <TabelaControleCaixa ControleCaixaOutputDtos="controleCaixaOutputDtos"></TabelaControleCaixa>
}

@code {
    private List<ControleCaixaOutputDto> controleCaixaOutputDtos = new();
    protected override Task OnInitializedAsync()
    {
       controleCaixaOutputDtos = new()
        {
            new ControleCaixaOutputDto()
            {
                Id = 1,
                NumeroAtual = 1,
                TipoArquivo = new TipoArquivoDto(){
                    Descricao = "Teste"
                }
            }
        };
        
        return base.OnInitializedAsync();
    }
}