@page "/ControleCaixa"
@inject IControleCaixaService controleCaixaService
<h3>Controle de Caixa</h3>
<a href="NovoControleCaixa" class="btn btn-info">Novo Controle</a>

@if (controleCaixaOutputView is null)
{
    <p><em>Carregando</em></p>
}
else
{
    <TabelaControleCaixa ControleCaixaOutputView="controleCaixaOutputView"></TabelaControleCaixa>
}

@code {
    private ControleCaixaOutputView? controleCaixaOutputView;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            controleCaixaOutputView = await controleCaixaService.PegarTodos();

            await base.OnInitializedAsync();
        }
        catch (Exception)
        {
            throw;
        }
    }
}