@page "/"
@inject ITipoAquivoLocalStorageService tipoArquivoLocalStorageService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    public TipoArquivoView? tipoArquivoView;

    protected async override Task OnInitializedAsync()
    {
        await LimparLocalStorege();

        await tipoArquivoLocalStorageService.PegarTiposArquivosStorage(1);

        await base.OnInitializedAsync();
    }
    private async Task LimparLocalStorege()
    {
        await tipoArquivoLocalStorageService.RemoverColecao();
    }
}