@page "/"
@inject ITIpoAquivoLocalStorageServices tipoArquivoLocalStorageService;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LimparLocalStorege();
        }
        catch (Exception)
        {

            throw;
        }


    }
    private async Task LimparLocalStorege()
    {
        await tipoArquivoLocalStorageService.RemoverColecao();
    }
}