@page "/TipoArquivo"
@inject ITipoAquivoLocalStorageService tipoArquivoLocalStorageService;

<PageTitle>Tipos de Arquivos</PageTitle>
<h3>Lista Tipo Arquivo</h3>
<a href="NovoTipoArquivo" class="btn btn-info">Novo Tipo</a>

@if (tipoArquivoView is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TabelaTipoArquivo TipoArquivosView="tipoArquivoView"></TabelaTipoArquivo>
    <PaginacaoTabela PaginaAtual="ReceberPagina"
                     TotalDados="tipoArquivoView.TotalDados"
                     Pagina="tipoArquivoView.Pagina"
                     TotalPagina="tipoArquivoView.TotalPagina" />
}

@code {

    public TipoArquivoView? tipoArquivoView;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tipoArquivoView = await tipoArquivoLocalStorageService.PegarTiposArquivosStorage(1);
        }
        catch (Exception)
        {
            throw;
        }
    }
    
    private async Task ReceberPagina(int paginaAtual)
    {
        tipoArquivoView = await tipoArquivoLocalStorageService.PegarTiposArquivosStorage(paginaAtual);
    }
}