@page "/Usuario"
@inject IUsuarioService usuarioService
<PageTitle>Usuários</PageTitle>

<h3>Lista de Usuários</h3>

<a href="NovoUsuario" class="btn btn-info">Novo Usuário</a>

@if (usuarioOutpurView is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TabelaUsuario UsuarioView="usuarioOutpurView"></TabelaUsuario>
}

@code {
    private UsuarioOutputView? usuarioOutpurView;
    protected override async Task OnInitializedAsync()
    {
        usuarioOutpurView = await usuarioService.PegarTodos();
    }
}
