@page "/Usuario"
@inject IUsuarioServices usuarioServices
<PageTitle>Usuários</PageTitle>

<h3>Lista de Usuários</h3>

<a href="NovoUsuario" class="btn btn-info">Novo Usuário</a>

@if (usuarioOutpurView is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TabelaUsuario UsuarioView="usuarioOutpurView"></TabelaUsuario>
}

@code {
    private UsuarioOutputView? usuarioOutpurView = new();
    protected override async Task OnInitializedAsync()
    {
        usuarioOutpurView = await usuarioServices.PegarTodos();
    }
}
