@model LoginViewModel
@{
    Layout = "_LayoutLogin";
}

<div class="main-login">
    <div class="left-login">
        <h1>
            Faça login.<br />
            E acesse o sistema de arquivo
        </h1>
    </div>
    <din class="right-login">
        <form class="card-login" method="post">
            <h1>Login de acesso</h1>

            <div class="textField">
                <label for="Login">Usuário</label>
                <input asp-for="Login" type="text" id="Login" placeholder="Usuário">
            </div>
            <div class="textField">
                <label for="Senha">Senha</label>
                <input asp-for="Senha" type="password" id="senha" placeholder="Senha">
            </div>
            <button class="btn-login" type="submit">Entrar</button>
        </form>
    </din>
</div>
