<div class="border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricao</th>
                <th>Guardar por</th>
                <th>Tempo</th>
                <th class="text-center">Suporte a Item</th>
                <th class="text-center">Suporte a Caixa</th>
                <th class="text-center">Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (TipoArquivosView?.Dados is not null)
            {
                @foreach (var tipoArquivo in TipoArquivosView.Dados)
                {
                    <tr>
                        <td>@tipoArquivo.Id</td>
                        <td>@tipoArquivo.Descricao</td>
                        <td>@tipoArquivo.Guardar</td>
                        <td>@tipoArquivo.Tempo</td>
                        <td class="text-center">
                            <InputCheckbox @bind-Value="tipoArquivo.SuporteItem" disabled />
                        </td>

                        <td class="text-center">
                            <InputCheckbox @bind-Value="tipoArquivo.SuporteControleCaixa" disabled />
                        </td>
                        <td class="text-center">
                            <InputCheckbox @bind-Value="tipoArquivo.Ativo" disabled />
                        </td>
                        <td>
                            <a href="#">Editar</a> |
                            <a href="#">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public TipoArquivoView? TipoArquivosView { get; set; }
}
